[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND OpticalDisc.availableContent & 'Audio' ]
Type=Service
Actions=open;

[Desktop Action open]
Name=Open with Qmmp
Name[el]=Άνοιγμα με το Qmmp
Name[es]=Abrir con Qmmp
Name[fi]=Avaa Qmmp:llä
Name[gl_ES]=Abrir con Qmmp
Name[nl]=Openen met Qmmp
Name[pl_PL]=Otwórz za pomocą Qmmp
Name[pt]=Abrir com Qmmp
Name[ru]=Открыть с помощью Qmmp
Name[tr]=Qmmp ile aç
Exec=qmmp cdda://%d
Icon=qmmp
